[Unit]
Description=Citrus Server service
After=node-set-cab.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=davidl
Environment=NODE_ENV=production
WorkingDirectory=/home/david/dev/citrus-prod/citrus-run
ExecStart=/usr/bin/node dist/app.js

[Install]
WantedBy=multi-user.target
